{% include "./navbar.html" %}
{% include "./pagination.html" %}
{% load static %}
{% block content %}

<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<body>
                        <div class="card content title_container">
                            <div class="card-body">
                                <p class="card-text" align="justify">Add description</p>
                                <a href="#" class="btn btbg"><strong>Learn more</strong></a>
                            </div>
                        </div>

                        <div class="card-deck content">

                            <div class="card text-justify">
                            <img class="card-img-top" src="{% static 'quizapp/images/34611.jpg' %}" width="300" height="300" alt="Card image cap">
                            <div class="card-body">
                                <p class="card-text"><strong>Component:</strong> {{ obj26.component }}</p>
                                <p class="card-text"><strong>Descirption:</strong> {{ obj26.image_description }}</p>
                                <p class="card-text">{{ obj26.doi }}</p>
                                <p class="card-text">{{ obj26.cell_type }}</p>
                                <p class="card-text">{{ obj26.organism }}</p>
                            </div>

                        </div>

                            <div class="card text-justify">
                                <img class="card-img-top" src="{% static 'quizapp/images/34601.jpg' %}" width="300" height="300" alt="Card image cap">
                                <div class="card-body">
                                    <p class="card-text"><strong>Descirption:</strong> {{ obj27.component }}</p>
                                <p class="card-text"><strong>Descirption:</strong> {{ obj27.image_description }}</p>
                                <p class="card-text">{{ obj27.doi }}</p>
                                <p class="card-text">{{ obj27.cell_type }}</p>
                                <p class="card-text">{{ obj27.organism }}</p>
                                </div>
                            </div>
                        </div>

                        <div class="card-deck content">

                            <div class="card text-justify">
                            <img class="card-img-top" src="{% static 'quizapp/images/9905.jpg' %}" width="300" height="300" alt="Card image cap">
                            <div class="card-body">
                                <p class="card-text"><strong>Component:</strong>{{obj28.component}}</p>
                                <p class="card-text"><strong>Descirption:</strong> {{ obj28.image_description }}</p>
                                <p class="card-text">{{ obj28.doi }}</p>
                                <p class="card-text">{{ obj28.cell_type }}</p>
                                <p class="card-text">{{ obj28.organism }}</p>
                            </div>

                        </div>

                            <div class="card text-justify">
                                <img class="card-img-top" src="{% static 'quizapp/images/2871.jpg' %}" width="300" height="300" alt="Card image cap">
                                <div class="card-body">
                                <p class="card-text"><strong>Component:</strong> {{obj29.component}}</p>
                                <p class="card-text"><strong>Descirption:</strong> {{ obj29.image_description }}</p>
                                <p class="card-text">{{ obj29.doi }}</p>
                                <p class="card-text">{{ obj29.cell_type }}</p>
                                <p class="card-text">{{ obj29.organism }}</p>                                </div>
                            </div>
                        </div>

                        {% for item in sem_items %}
                        <div class="card-deck content">
                            <div class="card text-justify">
                                <img class="card-img-top" src="{% static 'quizapp/images/'%}{{item.image_name}}.jpg" width="300" height="300" alt="Card image cap">
                                <div class="card-body">
                                    <p class="card-text"><strong>Component:</strong> {{item.component}}</p>
                                    <p class="card-text"><strong>Descirption:</strong> {{ item.image_description }}</p>
                                    <p class="card-text">{{ item.doi }}</p>
                                    <p class="card-text"><strong>Cell type:</strong> {{ item.cell_type }}</p>
                                    <p class="card-text"><strong>Organism:</strong> {{ item.organism }}</p>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
</body>
</html>
{% endblock %}


                        <!-- <div class="card-deck last_content">
                            <div class="card text-justify">
                                <img class="card-img-top" src="{% static 'quizapp/images/9685.jpg' %}" width="300" height="300" alt="Card image cap">
                                <div class="card-body">
                                    <p class="card-text"><strong>Component:</strong> {{obj30.component}}</p>
                                    <p class="card-text"><strong>Descirption:</strong> {{ obj30.image_description }}</p>
                                    <p class="card-text">{{ obj30.doi }}</p>
                                    <p class="card-text"><strong>Cell type:</strong> {{ obj30.cell_type }}</p>
                                    <p class="card-text"><strong>Organism:</strong> {{ obj30.organism }}</p>
                                </div>
                            </div>
                        </div> -->
