{% include "./navbar.html" %}
{% include "./pagination.html" %}
{% load static %}
{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{% static 'quizapp/main.css' %}">


            </head>

<body>
                <div class="card content title_container">
                    <div class="card-body">
                        <p class="card-text" align="justify">A <strong>fluorescence microscope</strong> is an optical microscope that uses
                            fluorescence instead of, or in addition to, scattering, reflection, and attenuation or absorption,
                            to study the properties of organic or inorganic substances. It refers
                            to any microscope that uses fluorescence to generate an image, whether it is a more simple set up like an
                            epifluorescence microscope or a more complicated design such as a confocal microscope ions.</p>
                        <a href="https://en.wikipedia.org/wiki/Fluorescence_microscope#:~:text=A%20fluorescence%20microscope%20is%20an,of%20organic%20or%20inorganic%20substances." class="btn btbg"><strong>Learn more</strong></a>
                    </div>
                </div>

                <div class="card-deck content">

                    <div class="card text-justify">
                        <img class="card-img-top" src="{% static 'quizapp/images/48102.jpg' %}" width="300" height="300" alt="Card image cap">
                        <div class="card-body">
                            <p class="card-text"><strong>Component:</strong> oral apparatus</p>
                            <p class="card-text"><strong>Descirption:</strong> The postoral fibers are also heavily labeled by anti-b-tubulin. The cell was lightly fixed, placed in metylcellulose and frozen in liquid nitrogen.
                                Sections were produced at -100°C before thawing and treated with the b-tubulin antibody followed by immunogold labeled antibody to IgG.
                                TEM taken on 2/25/94 by R. Allen with Zeiss 10A operating at 80kV. Neg. 9,780X. Bar = 0.5µm.</p>
                        </div>
                    </div>

                    <div class="card text-center">
                        <img class="card-img-top" src="{% static 'quizapp/images/219.jpg' %}" width="300" height="300" alt="Card image cap">
                        <div class="card-body">
                            <p class="card-text">Explore the beauty of living systems through unique images</p>
                        </div>
                    </div>
                </div>

                <div class="card-deck content">

                    <div class="card text-center">
                        <img class="card-img-top" src="{% static 'quizapp/images/11996.jpg' %}" width="300" height="300" alt="Card image cap">
                        <div class="card-body">
                            <p class="card-text">Explore the beauty of living systems through unique images</p>
                        </div>
                    </div>

                    <div class="card text-center">
                        <img class="card-img-top" src="{% static 'quizapp/images/12631.jpg' %}" width="300" height="300" alt="Card image cap">
                        <div class="card-body">
                            <p class="card-text">Explore the beauty of living systems through unique images</p>
                        </div>
                    </div>
                </div>

                <div class="card-deck content">

                    <div class="card text-center">
                        <img class="card-img-top" src="{% static 'quizapp/images/228.jpg' %}" width="300" height="300" alt="Card image cap">
                        <div class="card-body">
                            <p class="card-text">Explore the beauty of living systems through unique images</p>
                        </div>
                    </div>

                    <div class="card text-center">
                        <img class="card-img-top" src="{% static 'quizapp/images/40968.jpg' %}" width="300" height="300" alt="Card image cap">
                        <div class="card-body">
                            <p class="card-text">Explore the beauty of living systems through unique images</p>
                        </div>
                    </div>
                </div>

                <div class="card-deck content">

                    <div class="card text-center">
                        <img class="card-img-top" src="{% static 'quizapp/images/41642.jpg' %}" width="300" height="300" alt="Card image cap">
                        <div class="card-body">
                            <p class="card-text">Explore the beauty of living systems through unique images</p>
                        </div>
                    </div>

                    <div class="card text-center">
                        <img class="card-img-top" src="{% static 'quizapp/images/810.jpg' %}" width="300" height="300" alt="Card image cap">
                        <div class="card-body">
                            <p class="card-text">Explore the beauty of living systems through unique images</p>
                        </div>
                    </div>
                </div>

                <div class="card-deck content">
                    <div class="card text-center">
                        <img class="card-img-top" src="{% static 'quizapp/images/11995.jpg' %}" width="300" height="300" alt="Card image cap">
                        <div class="card-body">
                            <p class="card-text">Explore the beauty of living systems through unique images</p>
                        </div>
                    </div>

                    <div class="card text-center">
                        <img class="card-img-top" src="{% static 'quizapp/images/215.jpg' %}" width="300" height="300" alt="Card image cap">
                        <div class="card-body">
                            <p class="card-text">Explore the beauty of living systems through unique images</p>
                        </div>
                    </div>
                </div>

                <div class="card-deck content">
                    <div class="card text-center">
                        <img class="card-img-top" src="{% static 'quizapp/images/41628.jpg' %}" width="300" height="300" alt="Card image cap">
                        <div class="card-body">
                            <p class="card-text">Explore the beauty of living systems through unique images</p>
                        </div>
                    </div>

                    <div class="card text-center">
                        <img class="card-img-top" src="{% static 'quizapp/images/45501.jpg' %}" width="300" height="300" alt="Card image cap">
                        <div class="card-body">
                            <p class="card-text">Explore the beauty of living systems through unique images</p>
                        </div>
                    </div>
                </div>

                <div class="card-deck content">

                    <div class="card text-center">
                        <img class="card-img-top" src="{% static 'quizapp/images/50648.jpg' %}" width="300" height="300" alt="Card image cap">
                        <div class="card-body">
                            <p class="card-text">Explore the beauty of living systems through unique images</p>
                        </div>
                    </div>

                    <div class="card text-center">
                        <img class="card-img-top" src="{% static 'quizapp/images/12008.jpg' %}" width="300" height="300" alt="Card image cap">
                        <div class="card-body">
                            <p class="card-text">Explore the beauty of living systems through unique images</p>
                        </div>
                    </div>
                </div>

                <div class="card-deck content">

                    <div class="card text-center">
                        <img class="card-img-top" src="{% static 'quizapp/images/41633.jpg' %}" width="300" height="300" alt="Card image cap">
                        <div class="card-body">
                            <p class="card-text">Explore the beauty of living systems through unique images</p>
                        </div>
                    </div>

                    <div class="card text-center">
                        <img class="card-img-top" src="{% static 'quizapp/images/41643.jpg' %}" width="300" height="300" alt="Card image cap">
                        <div class="card-body">
                            <p class="card-text">Explore the beauty of living systems through unique images</p>
                        </div>
                    </div>
                </div>

                <div class="card-deck content">

                    <div class="card text-center">
                        <img class="card-img-top" src="{% static 'quizapp/images/42101.jpg' %}" width="300" height="300" alt="Card image cap">
                        <div class="card-body">
                            <p class="card-text">Explore the beauty of living systems through unique images</p>
                        </div>
                    </div>


                    <div class="card text-center">
                        <img class="card-img-top" src="{% static 'quizapp/images/42511.jpg' %}" width="300" height="300" alt="Card image cap">
                        <div class="card-body">
                            <p class="card-text">Explore the beauty of living systems through unique images</p>
                        </div>
                    </div>
                </div>

                <div class="card-deck content">

                    <div class="card text-center">
                        <img class="card-img-top" src="{% static 'quizapp/images/50661.jpg' %}" width="300" height="300" alt="Card image cap">
                        <div class="card-body">
                            <p class="card-text">Explore the beauty of living systems through unique images</p>
                        </div>
                    </div>

                    <div class="card text-center">
                        <img class="card-img-top" src="{% static 'quizapp/images/12009.jpg' %}" width="300" height="300" alt="Card image cap">
                        <div class="card-body">
                            <p class="card-text">Explore the beauty of living systems through unique images</p>
                        </div>
                    </div>
                </div>

                <div class="card-deck content">

                    <div class="card text-center">
                        <img class="card-img-top" src="{% static 'quizapp/images/240.jpg' %}" width="300" height="300" alt="Card image cap">
                        <div class="card-body">
                            <p class="card-text">Explore the beauty of living systems through unique images</p>
                        </div>
                    </div>

                    <div class="card text-center">
                        <img class="card-img-top" src="{% static 'quizapp/images/220.jpg' %}" width="300" height="300" alt="Card image cap">
                        <div class="card-body">
                            <p class="card-text">Explore the beauty of living systems through unique images</p>
                        </div>
                    </div>
                </div>

                <div class="card-deck content">
                    <div class="card text-center">
                        <img class="card-img-top" src="{% static 'quizapp/images/41467.jpg' %}" width="300" height="300" alt="Card image cap">
                        <div class="card-body">
                            <p class="card-text">Explore the beauty of living systems through unique images</p>
                        </div>
                    </div>

                    <div class="card text-center">
                        <img class="card-img-top" src="{% static 'quizapp/images/41634.jpg' %}" width="300" height="300" alt="Card image cap">
                        <div class="card-body">
                            <p class="card-text">Explore the beauty of living systems through unique images</p>
                        </div>
                    </div>
                </div>

                <div class="card-deck content">
                    <div class="card text-center">
                        <img class="card-img-top" src="{% static 'quizapp/images/40973.jpg' %}" width="300" height="300" alt="Card image cap">
                        <div class="card-body">
                            <p class="card-text">Explore the beauty of living systems through unique images</p>
                        </div>
                    </div>

                    <div class="card text-center">
                        <img class="card-img-top" src="{% static 'quizapp/images/187.jpg' %}" width="300" height="300" alt="Card image cap">
                        <div class="card-body">
                            <p class="card-text">Explore the beauty of living systems through unique images</p>
                        </div>
                    </div>
                </div>

                <div class="card-deck content">
                    <div class="card text-center">
                        <img class="card-img-top" src="{% static 'quizapp/images/39469.jpg' %}" width="300" height="300" alt="Card image cap">
                        <div class="card-body">
                            <p class="card-text">Explore the beauty of living systems through unique images</p>
                        </div>
                    </div>

                    <div class="card text-center">
                        <img class="card-img-top" src="{% static 'quizapp/images/48101.jpg' %}" width="300" height="300" alt="Card image cap">
                        <div class="card-body">
                            <p class="card-text">Explore the beauty of living systems through unique images</p>
                        </div>
                    </div>
                </div>

                <div class="card-deck content">

                    <div class="card text-center">
                        <img class="card-img-top" src="{% static 'quizapp/images/18276.jpg' %}" width="300" height="300" alt="Card image cap">
                        <div class="card-body">
                            <p class="card-text">Explore the beauty of living systems through unique images</p>
                        </div>
                    </div>

                    <div class="card text-center">
                        <img class="card-img-top" src="{% static 'quizapp/images/1153.jpg' %}" width="300" height="300" alt="Card image cap">
                        <div class="card-body">
                            <p class="card-text">Explore the beauty of living systems through unique images</p>
                        </div>
                    </div>
                </div>

                <div class="card-deck content">

                    <div class="card text-center">
                        <img class="card-img-top" src="{% static 'quizapp/images/1168.jpg' %}" width="300" height="300" alt="Card image cap">
                        <div class="card-body">
                            <p class="card-text">Explore the beauty of living systems through unique images</p>
                        </div>
                    </div>

                    <div class="card text-center">
                        <img class="card-img-top" src="{% static 'quizapp/images/1161.jpg' %}" width="300" height="300" alt="Card image cap">
                        <div class="card-body">
                            <p class="card-text">Explore the beauty of living systems through unique images</p>
                        </div>
                    </div>
                </div>

                <div class="card-deck content">
                    <div class="card text-center">
                        <img class="card-img-top" src="{% static 'quizapp/images/248.jpg' %}" width="300" height="300" alt="Card image cap">
                        <div class="card-body">
                            <p class="card-text">Explore the beauty of living systems through unique images</p>
                        </div>
                    </div>

                    <div class="card text-center">
                        <img class="card-img-top" src="{% static 'quizapp/images/38936.jpg' %}" width="300" height="300" alt="Card image cap">
                        <div class="card-body">
                            <p class="card-text">Explore the beauty of living systems through unique images</p>
                        </div>
                    </div>
                </div>

                <div class="card-deck content">
                    <div class="card text-center">
                        <img class="card-img-top" src="{% static 'quizapp/images/39043.jpg' %}" width="300" height="300" alt="Card image cap">
                        <div class="card-body">
                            <p class="card-text">Explore the beauty of living systems through unique images</p>
                        </div>
                    </div>

                    <div class="card text-center">
                        <img class="card-img-top" src="{% static 'quizapp/images/41025.jpg' %}" width="300" height="300" alt="Card image cap">
                        <div class="card-body">
                            <p class="card-text">Explore the beauty of living systems through unique images</p>
                        </div>
                    </div>
                </div>

                <div class="card-deck content">
                    <div class="card text-center">
                        <img class="card-img-top" src="{% static 'quizapp/images/807.jpg' %}" width="300" height="300" alt="Card image cap">
                        <div class="card-body">
                            <p class="card-text">Explore the beauty of living systems through unique images</p>
                        </div>
                    </div>

                    <div class="card text-center">
                        <img class="card-img-top" src="{% static 'quizapp/images/808.jpg' %}" width="300" height="300" alt="Card image cap">
                        <div class="card-body">
                            <p class="card-text">Explore the beauty of living systems through unique images</p>
                        </div>
                    </div>
                </div>

                <div class="card-deck content">
                    <div class="card text-center">
                        <img class="card-img-top" src="{% static 'quizapp/images/2959.jpg' %}" width="300" height="300" alt="Card image cap">
                        <div class="card-body">
                            <p class="card-text">Explore the beauty of living systems through unique images</p>
                        </div>
                    </div>

                    <div class="card text-center">
                        <img class="card-img-top" src="{% static 'quizapp/images/10404.jpg' %}" width="300" height="300" alt="Card image cap">
                        <div class="card-body">
                            <p class="card-text">Explore the beauty of living systems through unique images</p>
                        </div>
                    </div>
                </div>
            </body>
        </html>
{% endblock %}


