{% include "./navbar.html" %}
{% include "./pagination.html" %}
{% load static %}
{% block content %}

<!DOCTYPE html>
<html lang="en">

    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="{% static 'quizapp/main.css' %}">
    </head>

<body>
                <div class="card content title_container">
                    <div class="card-body">
                        <p class="card-text" align="justify"><strong>Phase-contrast microscopy</strong> is an optical microscopy technique that converts phase shifts in light passing through a transparent specimen to brightness changes in the image.
                            Phase shifts themselves are invisible, but become visible when shown as brightness variations.</p>
                        <a href="https://en.wikipedia.org/wiki/Liquid-Phase_Electron_Microscopy" class="btn btbg"><strong>Learn more</strong></a>
                    </div>
                </div>

                <div class="card-deck content">

                    <div class="card text-center">
                        <img class="card-img-top" src="{% static 'quizapp/images/35463.jpg' %}" width="300" height="300">
                        <div class="card-body">
                            <p class="card-text">Explore the beauty of living systems through unique images</p>
                        </div>
                    </div>

                    <div class="card text-center">
                        <img class="card-img-top" src="{% static 'quizapp/images/37241.jpg' %}" width="300" height="300">
                        <div class="card-body">
                            <p class="card-text">Explore the beauty of living systems through unique images</p>
                        </div>
                    </div>
                </div>

                <div class="card-deck content">

                    <div class="card text-center">
                        <img class="card-img-top" src="{% static 'quizapp/images/12626.jpg' %}" width="300" height="300">
                        <div class="card-body">
                            <p class="card-text">Explore the beauty of living systems through unique images</p>
                        </div>
                    </div>

                    <div class="card text-center">
                        <img class="card-img-top" src="{% static 'quizapp/images/27832.jpg' %}" width="300" height="300">
                        <div class="card-body">
                            <p class="card-text">Explore the beauty of living systems through unique images</p>
                        </div>
                    </div>
                </div>

                <div class="card-deck content">

                    <div class="card text-center">
                        <img class="card-img-top" src="{% static 'quizapp/images/39111.jpg' %}" width="300" height="300">
                        <div class="card-body">
                            <p class="card-text">Explore the beauty of living systems through unique images</p>
                        </div>
                    </div>

                    <div class="card text-center">
                        <img class="card-img-top" src="{% static 'quizapp/images/12625.jpg' %}" width="300" height="300">
                        <div class="card-body">
                            <p class="card-text">Explore the beauty of living systems through unique images</p>
                        </div>
                    </div>
                </div>

                <div class="card-deck content">
                    <div class="card text-center">
                        <img class="card-img-top" src="{% static 'quizapp/images/35136.jpg' %}" width="300" height="300">
                        <div class="card-body">
                            <p class="card-text">Explore the beauty of living systems through unique images</p>
                        </div>
                    </div>

                    <div class="card text-center">
                        <img class="card-img-top" src="{% static 'quizapp/images/24566.jpg' %}" width="300" height="300">
                        <div class="card-body">
                            <p class="card-text">Explore the beauty of living systems through unique images</p>
                        </div>
                    </div>
                </div>

                    <div class="card-deck content">
                        <div class="card text-center">
                            <img src="{% static 'quizapp/images/35141.jpg' %}" width="300" height="300">
                            <div class="card-body">
                                <p class="card-text">Explore the beauty of living systems through unique images</p>
                            </div>
                        </div>

                        <div class="card text-center">
                            <img class="card-img-top" src="{% static 'quizapp/images/24579.jpg' %}" width="300" height="300">
                            <div class="card-body">
                                <p class="card-text">Explore the beauty of living systems through unique images</p>
                            </div>
                        </div>
                        </div>

                        <div class="card-deck content">
                            <div class="card text-center">
                                                                    <img class="card-img-top" src="{% static 'quizapp/images/24570.jpg' %}" width="300" height="300">
                                <div class="card-body">
                                    <p class="card-text">Explore the beauty of living systems through unique images</p>
                                </div>
                            </div>

                            <div class="card text-center">
                                <img class="card-img-top" src="{% static 'quizapp/images/35212.jpg' %}" width="300" height="300">
                                <div class="card-body">
                                    <p class="card-text">Explore the beauty of living systems through unique images</p>
                                </div>
                            </div>
                            </div>

                <div class="card-deck content">
                     <div class="card text-center">
                        <img class="card-img-top" src="{% static 'quizapp/images/35209.jpg' %}" width="300" height="300">
                        <div class="card-body">

                            <p class="card-text">Explore the beauty of living systems through unique images</p>
                        </div>
                    </div>

                    <div class="card text-center">
                        <img class="card-img-top" src="{% static 'quizapp/images/8864.jpg' %}" width="300" height="300">
                        <div class="card-body">
                            <p class="card-text">Explore the beauty of living systems through unique images</p>
                        </div>
                    </div>
                </div>

<br>
<img src="{% static 'quizapp/images/38918.jpg' %}" width="300" height="300">
<img src="{% static 'quizapp/images/42753.jpg' %}" width="300" height="300">
<img src="{% static 'quizapp/images/39947.jpg' %}" width="300" height="300">
<img src="{% static 'quizapp/images/41022.jpg' %}" width="300" height="300">
<img src="{% static 'quizapp/images/39954.jpg' %}" width="300" height="300">
<img src="{% static 'quizapp/images/41920.jpg' %}" width="300" height="300">
<img src="{% static 'quizapp/images/40021.jpg' %}" width="300" height="300">
<img src="{% static 'quizapp/images/39952.jpg' %}" width="300" height="300">
<img src="{% static 'quizapp/images/39971.jpg' %}" width="300" height="300">

</body>
</html>
{% endblock %}
