{% include "./navbar.html" %}
{% include "./pagination.html" %}
{% load static %}
{% block content %}

<!doctype html>
<html lang="en">

        <head>
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <link rel="stylesheet" type="text/css" href="{% static 'quizapp/main.css' %}">
        </head>

<body>
                <div class="card content title_container">
                    <div class="card-body">
                        <p class="card-text" align="justify">A<strong> scanning electron microscope (SEM)</strong> is a type of electron microscope that produces images of a sample by scanning the surface with a focused beam of electrons. The electrons interact with atoms in the sample, producing various signals that contain information about the surface topography and composition of the sample.
                            The electron beam is scanned in a raster scan pattern, and the position of the beam is combined with the
                            intensity of the detected signal to produce an image.</p>
                        <a href="https://en.wikipedia.org/wiki/Scanning_electron_microscope" class="btn btbg"><strong>Learn more</strong></a>
                    </div>
                </div>

                <div class="card-deck content">

                    <div class="card text-justify">
                        <img class="card-img-top" src="{% static 'quizapp/images/221.jpg' %}" width="300" height="300" alt="Card image cap">
                        <div class="card-body">
                            <p class="card-text"><strong>Component:</strong> oral apparatus</p>
                            <p class="card-text"><strong>Descirption:</strong> The postoral fibers are also heavily labeled by anti-b-tubulin. The cell was lightly fixed, placed in metylcellulose and frozen in liquid nitrogen.
                                Sections were produced at -100°C before thawing and treated with the b-tubulin antibody followed by immunogold labeled antibody to IgG.
                                TEM taken on 2/25/94 by R. Allen with Zeiss 10A operating at 80kV. Neg. 9,780X. Bar = 0.5µm.</p>
                        </div>
                    </div>

                    <div class="card text-center">
                        <img class="card-img-top" src="{% static 'quizapp/images/40627.jpg' %}" width="300" height="300" alt="Card image cap">
                        <div class="card-body">
                            <p class="card-text">Explore the beauty of living systems through unique images</p>
                        </div>
                    </div>
                </div>

                <div class="card-deck content">

                    <div class="card text-center">
                        <img class="card-img-top" src="{% static 'quizapp/images/41311.jpg' %}" width="300" height="300" alt="Card image cap">
                        <div class="card-body">
                            <p class="card-text">Explore the beauty of living systems through unique images</p>
                        </div>
                    </div>

                    <div class="card text-center">
                        <img class="card-img-top" src="{% static 'quizapp/images/214.jpg' %}" width="300" height="300" alt="Card image cap">
                        <div class="card-body">
                            <p class="card-text">Explore the beauty of living systems through unique images</p>
                        </div>
                    </div>
                </div>

                <div class="card-deck content">

                    <div class="card text-center">
                        <img class="card-img-top" src="{% static 'quizapp/images/11094.jpg' %}" width="300" height="300" alt="Card image cap">
                        <div class="card-body">
                            <p class="card-text">Explore the beauty of living systems through unique images</p>
                        </div>
                    </div>

                    <div class="card text-center">
                        <img class="card-img-top" src="{% static 'quizapp/images/11105.jpg' %}" width="300" height="300" alt="Card image cap">
                        <div class="card-body">
                            <p class="card-text">Explore the beauty of living systems through unique images</p>
                        </div>
                    </div>
                </div>

                <div class="card-deck content">

                    <div class="card text-center">
                        <img class="card-img-top" src="{% static 'quizapp/images/11108.jpg' %}" width="300" height="300" alt="Card image cap">
                        <div class="card-body">
                            <p class="card-text">Explore the beauty of living systems through unique images</p>
                        </div>
                    </div>

                    <div class="card text-center">
                        <img class="card-img-top" src="{% static 'quizapp/images/11115.jpg' %}" width="300" height="300" alt="Card image cap">
                        <div class="card-body">
                            <p class="card-text">Explore the beauty of living systems through unique images</p>
                        </div>
                    </div>
                </div>

                <div class="card-deck content">
                    <div class="card text-center">
                        <img class="card-img-top" src="{% static 'quizapp/images/35465.jpg' %}" width="300" height="300" alt="Card image cap">
                        <div class="card-body">
                            <p class="card-text">Explore the beauty of living systems through unique images</p>
                        </div>
                    </div>

                    <div class="card text-center">
                        <img class="card-img-top" src="{% static 'quizapp/images/39346.jpg' %}" width="300" height="300" alt="Card image cap">
                        <div class="card-body">
                            <p class="card-text">Explore the beauty of living systems through unique images</p>
                        </div>
                    </div>
                </div>

                <div class="card-deck content">
                    <div class="card text-center">
                        <img class="card-img-top" src="{% static 'quizapp/images/40651.jpg' %}" width="300" height="300" alt="Card image cap">
                        <div class="card-body">
                            <p class="card-text">Explore the beauty of living systems through unique images</p>
                        </div>
                    </div>

                    <div class="card text-center">
                        <img class="card-img-top" src="{% static 'quizapp/images/39049.jpg' %}" width="300" height="300" alt="Card image cap">
                        <div class="card-body">
                            <p class="card-text">Explore the beauty of living systems through unique images</p>
                        </div>
                    </div>
                </div>

                <div class="card-deck content">

                    <div class="card text-center">
                        <img class="card-img-top" src="{% static 'quizapp/images/40589.jpg' %}" width="300" height="300" alt="Card image cap">
                        <div class="card-body">
                            <p class="card-text">Explore the beauty of living systems through unique images</p>
                        </div>
                    </div>

                    <div class="card text-center">
                        <img class="card-img-top" src="{% static 'quizapp/images/40619.jpg' %}" width="300" height="300" alt="Card image cap">
                        <div class="card-body">
                            <p class="card-text">Explore the beauty of living systems through unique images</p>
                        </div>
                    </div>
                </div>

                <div class="card-deck content">

                    <div class="card text-center">
                        <img class="card-img-top" src="{% static 'quizapp/images/39358.jpg' %}" width="300" height="300" alt="Card image cap">
                        <div class="card-body">
                            <p class="card-text">Explore the beauty of living systems through unique images</p>
                        </div>
                    </div>

                    <div class="card text-center">
                        <img class="card-img-top" src="{% static 'quizapp/images/40279.jpg' %}" width="300" height="300" alt="Card image cap">
                        <div class="card-body">
                            <p class="card-text">Explore the beauty of living systems through unique images</p>
                        </div>
                    </div>
                </div>

                <div class="card-deck content">

                    <div class="card text-center">
                        <img class="card-img-top" src="{% static 'quizapp/images/40290.jpg' %}" width="300" height="300" alt="Card image cap">
                        <div class="card-body">
                            <p class="card-text">Explore the beauty of living systems through unique images</p>
                        </div>
                    </div>


                    <div class="card text-center">
                        <img class="card-img-top" src="{% static 'quizapp/images/40327.jpg' %}" width="300" height="300" alt="Card image cap">
                        <div class="card-body">
                            <p class="card-text">Explore the beauty of living systems through unique images</p>
                        </div>
                    </div>
                </div>

                <div class="card-deck content">

                    <div class="card text-center">
                        <img class="card-img-top" src="{% static 'quizapp/images/40340.jpg' %}" width="300" height="300" alt="Card image cap">
                        <div class="card-body">
                            <p class="card-text">Explore the beauty of living systems through unique images</p>
                        </div>
                    </div>

                    <div class="card text-center">
                        <img class="card-img-top" src="{% static 'quizapp/images/40341.jpg' %}" width="300" height="300" alt="Card image cap">
                        <div class="card-body">
                            <p class="card-text">Explore the beauty of living systems through unique images</p>
                        </div>
                    </div>
                </div>

                <div class="card-deck content">

                    <div class="card text-center">
                        <img class="card-img-top" src="{% static 'quizapp/images/40280.jpg' %}" width="300" height="300" alt="Card image cap">
                        <div class="card-body">
                            <p class="card-text">Explore the beauty of living systems through unique images</p>
                        </div>
                    </div>

                    <div class="card text-center">
                        <img class="card-img-top" src="{% static 'quizapp/images/40287.jpg' %}" width="300" height="300" alt="Card image cap">
                        <div class="card-body">
                            <p class="card-text">Explore the beauty of living systems through unique images</p>
                        </div>
                    </div>
                </div>

                <div class="card-deck last-content">
                    <div class="card text-center">
                        <img class="card-img-top" src="{% static 'quizapp/images/40304.jpg' %}" width="300" height="300" alt="Card image cap">
                        <div class="card-body">
                            <p class="card-text">Explore the beauty of living systems through unique images</p>
                        </div>
                    </div>
                </div>

</body>
</html>
{% endblock %}


