{% include "./navbar.html" %}
{% include "./pagination.html" %}
{% load static %}
{% block content %}
        <html>

<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
            <link rel="stylesheet" type="text/css" href="{% static 'quizapp/main.css' %}">

            </head>

            <body>

                <div class="card content title_container">
                    <div class="card-body">
                        <p class="card-text" align="justify"><strong>Transmission electron microscopy (TEM)</strong> is a microscopy technique in which a beam of electrons is
                        transmitted through a specimen to form an image. The specimen is an ultra-thin section
                        (less than 100 nm thick) or a suspension on a grid. An image is formed from the interaction of the
                        electrons with the sample as the beam is transmitted through the specimen. The image is then magnified
                        and focused onto an imaging device, such as a fluorescent screen,
                        a layer of photographic film, or a sensor such as a scintillator attached to a charge-coupled device.</p>
                        <a href="https://en.wikipedia.org/wiki/Transmission_electron_microscopy" class="btn btbg"><strong>Learn more</strong></a>
                    </div>
                </div>

                <div class="card-deck content">

                    <div class="card text-justify">
                        <img class="card-img-top" src="{% static 'quizapp/images/36713.jpg' %}" width="300" height="300" alt="Card image cap">
                        <div class="card-body">
                            <p class="card-text"><strong>Component:</strong> oral apparatus</p>
                            <p class="card-text"><strong>Descirption:</strong> The postoral fibers are also heavily labeled by anti-b-tubulin. The cell was lightly fixed, placed in metylcellulose and frozen in liquid nitrogen.
                                Sections were produced at -100°C before thawing and treated with the b-tubulin antibody followed by immunogold labeled antibody to IgG.
                                TEM taken on 2/25/94 by R. Allen with Zeiss 10A operating at 80kV. Neg. 9,780X. Bar = 0.5µm.</p>
                        </div>
                    </div>

                    <div class="card text-center">
                        <img class="card-img-top" src="{% static 'quizapp/images/34754' %}" width="300" height="300" alt="Card image cap">
                        <div class="card-body">
                            <p class="card-text">Explore the beauty of living systems through unique images</p>
                        </div>
                    </div>
                </div>

                <div class="card-deck content">

                    <div class="card text-center">
                        <img class="card-img-top" src="{% static 'quizapp/images/34732.jpg' %}" width="300" height="300" alt="Card image cap">
                        <div class="card-body">
                            <p class="card-text">Explore the beauty of living systems through unique images</p>
                        </div>
                    </div>

                    <div class="card text-center">
                        <img class="card-img-top" src="{% static 'quizapp/images/12075.jpg' %}" width="300" height="300" alt="Card image cap">
                        <div class="card-body">
                            <p class="card-text">Explore the beauty of living systems through unique images</p>
                        </div>
                    </div>
                </div>

                <div class="card-deck content">

                    <div class="card text-center">
                        <img class="card-img-top" src="{% static 'quizapp/images/1313.jpg' %}" width="300" height="300" alt="Card image cap">
                        <div class="card-body">
                            <p class="card-text">Explore the beauty of living systems through unique images</p>
                        </div>
                    </div>

                    <div class="card text-center">
                        <img class="card-img-top" src="{% static 'quizapp/images/34613.jpg' %}" width="300" height="300" alt="Card image cap">
                        <div class="card-body">
                            <p class="card-text">Explore the beauty of living systems through unique images</p>
                        </div>
                    </div>
                </div>

                <div class="card-deck content">

                    <div class="card text-center">
                        <img class="card-img-top" src="{% static 'quizapp/images/39139.jpg' %}" width="300" height="300" alt="Card image cap">
                        <div class="card-body">
                            <p class="card-text">Explore the beauty of living systems through unique images</p>
                        </div>
                    </div>

                    <div class="card text-center">
                        <img class="card-img-top" src="{% static 'quizapp/images/40555.jpg' %}" width="300" height="300" alt="Card image cap">
                        <div class="card-body">
                            <p class="card-text">Explore the beauty of living systems through unique images</p>
                        </div>
                    </div>
                </div>

                <div class="card-deck content">
                    <div class="card text-center">
                        <img class="card-img-top" src="{% static 'quizapp/images/12590.jpg' %}" width="300" height="300" alt="Card image cap">
                        <div class="card-body">
                            <p class="card-text">Explore the beauty of living systems through unique images</p>
                        </div>
                    </div>

                    <div class="card text-center">
                        <img class="card-img-top" src="{% static 'quizapp/images/34753.jpg' %}" width="300" height="300" alt="Card image cap">
                        <div class="card-body">
                            <p class="card-text">Explore the beauty of living systems through unique images</p>
                        </div>
                    </div>
                </div>

                <div class="card-deck content">
                    <div class="card text-center">
                        <img class="card-img-top" src="{% static 'quizapp/images/9850.jpg' %}" width="300" height="300" alt="Card image cap">
                        <div class="card-body">
                            <p class="card-text">Explore the beauty of living systems through unique images</p>
                        </div>
                    </div>

                    <div class="card text-center">
                        <img class="card-img-top" src="{% static 'quizapp/images/12083.jpg' %}" width="300" height="300" alt="Card image cap">
                        <div class="card-body">
                            <p class="card-text">Explore the beauty of living systems through unique images</p>
                        </div>
                    </div>
                </div>

                <div class="card-deck content">

                    <div class="card text-center">
                        <img class="card-img-top" src="{% static 'quizapp/images/17445.jpg' %}" width="300" height="300" alt="Card image cap">
                        <div class="card-body">
                            <p class="card-text">Explore the beauty of living systems through unique images</p>
                        </div>
                    </div>

                    <div class="card text-center">
                        <img class="card-img-top" src="{% static 'quizapp/images/43501.jpg' %}" width="300" height="300" alt="Card image cap">
                        <div class="card-body">
                            <p class="card-text">Explore the beauty of living systems through unique images</p>
                        </div>
                    </div>
                </div>

                <div class="card-deck content">

                    <div class="card text-center">
                        <img class="card-img-top" src="{% static 'quizapp/images/37133.jpg' %}" width="300" height="300" alt="Card image cap">
                        <div class="card-body">
                            <p class="card-text">Explore the beauty of living systems through unique images</p>
                        </div>
                    </div>

                    <div class="card text-center">
                        <img class="card-img-top" src="{% static 'quizapp/images/36012.jpg' %}" width="300" height="300" alt="Card image cap">
                        <div class="card-body">
                            <p class="card-text">Explore the beauty of living systems through unique images</p>
                        </div>
                    </div>
                </div>

                <div class="card-deck content">

                    <div class="card text-center">
                        <img class="card-img-top" src="{% static 'quizapp/images/7620.jpg' %}" width="300" height="300" alt="Card image cap">
                        <div class="card-body">
                            <p class="card-text">Explore the beauty of living systems through unique images</p>
                        </div>
                    </div>


                    <div class="card text-center">
                        <img class="card-img-top" src="{% static 'quizapp/images/37260.jpg' %}" width="300" height="300" alt="Card image cap">
                        <div class="card-body">
                            <p class="card-text">Explore the beauty of living systems through unique images</p>
                        </div>
                    </div>
                </div>

                <div class="card-deck content">

                    <div class="card text-center">
                        <img class="card-img-top" src="{% static 'quizapp/images/42804.jpg' %}" width="300" height="300" alt="Card image cap">
                        <div class="card-body">
                            <p class="card-text">Explore the beauty of living systems through unique images</p>
                        </div>
                    </div>

                    <div class="card text-center">
                        <img class="card-img-top" src="{% static 'quizapp/images/37237.jpg' %}" width="300" height="300" alt="Card image cap">
                        <div class="card-body">
                            <p class="card-text">Explore the beauty of living systems through unique images</p>
                        </div>
                    </div>
                </div>

                <div class="card-deck last_content">

                    <div class="card text-center">
                        <img class="card-img-top" src="{% static 'quizapp/images/7606.jpg' %}" width="300" height="300" alt="Card image cap">
                        <div class="card-body">
                            <p class="card-text">Explore the beauty of living systems through unique images</p>
                        </div>
                    </div>
                </div>
            </body>
        </html>

{% endblock %}

