{% include "./navbar.html" %}
{% include "./pagination.html" %}
{% load static %}
{% block content %}
        <html>

<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
            <link rel="stylesheet" type="text/css" href="{% static 'quizapp/main.css' %}">

            </head>

            <body>

                <div class="card content title_container">
                    <div class="card-body">
                        <p class="card-text" align="justify"><strong>Transmission electron microscopy (TEM)</strong> is a microscopy technique in which a beam of electrons is
                        transmitted through a specimen to form an image. The specimen is an ultra-thin section
                        (less than 100 nm thick) or a suspension on a grid. An image is formed from the interaction of the
                        electrons with the sample as the beam is transmitted through the specimen. The image is then magnified
                        and focused onto an imaging device, such as a fluorescent screen,
                        a layer of photographic film, or a sensor such as a scintillator attached to a charge-coupled device.</p>
                        <a href="https://en.wikipedia.org/wiki/Transmission_electron_microscopy" class="btn btbg"><strong>Learn more</strong></a>
                    </div>
                </div>
                        {% for item in tem_items %}
                        <div class="card-deck content">
                            <div class="card text-justify">
                                <img class="card-img-top" src="{% static 'quizapp/images/'%}{{item.image_name}}.jpg" width="300" height="300" alt="Card image cap">
                                <div class="card-body">
                                    <p class="card-text"><strong>Component:</strong> {{item.component}}</p>
                                    <p class="card-text"><strong>Descirption:</strong> {{ item.image_description }}</p>
                                    <p class="card-text">{{ item.doi }}</p>
                                    <p class="card-text"><strong>Cell type:</strong> {{ item.cell_type }}</p>
                                    <p class="card-text"><strong>Organism:</strong> {{ item.organism }}</p>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
            </body>
        </html>

    {% endblock %}
