{% include "./navbar.html" %}
{% include "./pagination.html" %}
{% load static %}
{% block content %}

<!doctype html>
<html lang="en">

    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="{% static 'quizapp/main.css' %}">
    </head>

<body>
                <div class="card content title_container">
                    <div class="card-body">
                        <p class="card-text" align="justify"><strong>Illumination microscopy</strong> is based on the excitation of the sample with a known spatially structured pattern of light and relies on the generation of interference patterns known as Moiré effect</p>
                        <a href="https://www.sciencedirect.com/topics/engineering/structured-illumination-microscopy" class="btn btbg"><strong>Learn more</strong></a>
                    </div>
                </div>

                        {% for item in illumination_items %}
                        <div class="card-deck content">
                            <div class="card text-justify">
                                <img class="card-img-top" src="{% static 'quizapp/images/'%}{{item.image_name}}.jpg" width="300" height="300" alt="Card image cap">
                                <div class="card-body">
                                    <p class="card-text"><strong>Component:</strong> {{item.component}}</p>
                                    <p class="card-text"><strong>Description:</strong> {{ item.image_description }}</p>
                                    <p class="card-text">{{ item.doi }}</p>
                                    <p class="card-text"><strong>Cell type:</strong> {{ item.cell_type }}</p>
                                    <p class="card-text"><strong>Organism:</strong> {{ item.organism }}</p>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
</body>
</html>
{% endblock %}
